<div class="flex h-screen bg-primary">
  <div class="bg-white rounded-lg shadow-lg flex flex-col items-center justify-center m-auto w-full max-w-3xl p-6">

    <!-- Title -->
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">{{ title }}</h1>

    <!-- Login Form -->
    <form [formGroup]="authForm" (ngSubmit)="signIn()" class="w-full">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 text-sm font-medium mb-2">Usuario</label>
        <input type="text" id="username" formControlName="username" placeholder="Ingrese su nombre de usuario"
          class="w-full px-4 py-2 border rounded-lg shadow-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
          [class.border-red-500]="authForm.controls['username'].touched && authForm.controls['username'].invalid"/>
        @if (authForm.controls['username'].invalid && authForm.controls['username'].touched) {
          <p class="text-red-500 text-xs mt-1">El usuario es requerido</p>
        }
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-medium mb-2">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña"
          class="w-full px-4 py-2 border rounded-lg shadow-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
          [class.border-red-500]="authForm.controls['password'].touched && authForm.controls['password'].invalid" />
        @if (authForm.controls['password'].touched && authForm.controls['password'].invalid && !authForm.controls['password'].errors?.['minlength']) {
          <p class="text-red-500 text-xs mt-1">La contraseña es requerida</p>
        }
        @if (authForm.controls['password'].errors?.['minlength']) {
          <p class="text-red-500 text-xs mt-1">La contraseña debe tener al menos 8 caracteres</p>
        }
      </div>

      @if(authForm.valid && authForm.controls['username'].valid && authForm.controls['password'].valid) {
        <button type="submit" class="flex w-full text-white justify-center bg-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-secondary">
          @if (status === 'loading') {
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white flex" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
          }
          Iniciar Sesión
        </button>
      } @else {
        <button type="submit" class="w-full text-white bg-[#D3D3D3] font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>
          Iniciar Sesión
        </button>
      }
    </form>
  </div>
</div>
